--- 
version: 7.0 
title: sensenet ECM Backend dev how-tos
permalink: /tutorials/backend/ 
redirect_from:
  - /docs/tutorials/backend/
layout: default 
--- 

{% assign docs = site.docs | sort: 'title' %}

<div class='subtron'>
  <div class='container-narrow'>
    <h1>Backend dev how-tos</h1>
  </div>
</div>

<section class='page-section documentation tutorials'>
  <div class='taglist-container'>
    <div class="grid">
      <div class="row">

        <div class="col-ms-12 col-lg-4">
          <ul class="docs-list">
            {% for tutorial in docs %} {% if tutorial.category == 'Tutorials' and tutorial.tags contains 'backend' %}
            <li>
              <a href="{{ site.baseurl }}{{ tutorial.url }}">{{ tutorial.title }}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% include tutorial-tagcloud.html %}

  </div>
</section>
