--- 
version: 6.0 
title: sensenet ECM Development Docs 
permalink: /docs/development/ 
layout: default 
--- 

{% assign docs = site.docs | sort: 'title' %}

<div class='subtron'>
  <div class='container-narrow'>
    <h1>Development Docs</h1>
  </div>
</div>

<section class='page-section documentation tutorials'>
  <div class='taglist-container'>
    <div class="grid">
      <div class="row">

        <div class="col-ms-12 col-lg-4">
          <ul class="docs-list">
            {% for doc in docs %} {% if doc.category == 'Development' %}
            <li>
              <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% include tutorial-tagcloud.html %}

  </div>
</section>

<script>
    function()
</script>