--- 
title: sensenet Roadmap
permalink: /roadmap/
layout: default
redirect_to: https://sensenet.com
---

<div class='subtron'>
    <div class='container-narrow'>
        <h1>Goals and results</h1>
    </div>
</div>

<section class='page-section'>
    <div class='container-narrow'>
      <ul class="blog-index">
        <ul id="search-results">
            {% for post in site.posts %} 
             {% if post.tags contains 'roadmap' %}
             <li class="blog-post">
                <h2>
                  <a class="blog-index-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <div class="who-when">
                    <i class="fa fa-calendar"></i><time class="blog-index-time">{{ post.date | date: '%B %d, %Y' }}</time>
                    {% if post.author[1] %}
                      {% for author in post.author %}
                        <a href="https://github.com/{{ author }}" class="author-link"><img src="https://github.com/{{ author }}.png?size=36" alt="{{ author }}" class="avatar mr-2">{{ author }}</a>
                      {% endfor %}
                    {% else %}
                      <a href="https://github.com/{{ post.author }}" class="author-link"><img src="https://github.com/{{ post.author }}.png?size=36" alt="{{ post.author }}" class="avatar mr-2">{{ post.author }}</a>              
                    {% endif %}
                  </div>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}" class="read-more-link">Read more <i class="fa fa-angle-right"></i></a></p>
              </li>
            {% endif %} 
            {% endfor %}
        </ul>
    </div>
</section>
