@font-face
  font-family: "Raleway Medium"
  src: url('../fonts/raleway-medium.eot')
  src: local('../fonts/raleway-medium')
  src: url('../fonts/raleway-medium.svg#raleway-medium') format('svg')
  src: url('../fonts/raleway-medium.woff') format('woff')

@font-face
  font-family: "Raleway Bold"
  src: url('../fonts/raleway-bold.eot')
  src: local('../fonts/raleway-bold')
  src: url('../fonts/raleway-bold.svg#raleway-bold') format('svg')
  src: url('../fonts/raleway-bold.woff') format('woff')

@font-face
  font-family: "Raleway Extrabold"
  src: url('../fonts/raleway-extrabold.eot')
  src: local('../fonts/raleway-extrabold')
  src: url('../fonts/raleway-extrabold.svg#raleway-extrabold') format('svg')
  src: url('../fonts/raleway-extrabold.woff') format('woff')

@font-face
  font-family: "Raleway Regular"
  src: url('../fonts/raleway-regular.eot')
  src: local('../fonts/raleway-regular')
  src: url('../fonts/raleway-regular.svg#raleway-regular') format('svg')
  src: url('../fonts/raleway-regular.woff') format('woff')

@font-face
  font-family: "Gotham"
  src: url('../fonts/gotham-medium.eot')
  src: local('../fonts/gotham-medium')
  src: url('../fonts/gotham-medium.svg#gotham-medium') format('svg')
  src: url('../fonts/gotham-medium.woff') format('woff')

@font-face
  font-family: "Gotham Light"
  src: url('../fonts/gotham-light.eot')
  src: local('../fonts/gotham-light')
  src: url('../fonts/gotham-light.svg#gotham-light') format('svg')
  src: url('../fonts/gotham-light.woff') format('woff')

@font-face
  font-family: "FontAwesome"
  src: url('../fonts/fontawesome-webfont.eot')
  src: local('../fonts/fontawesome-webfont')
  src: url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg')
  src: url('../fonts/fontawesome-webfont.woff') format('woff')

// Fonts
//
$FONT_FAMILY: 'Raleway Medium', sans-serif
$FONT_FAMILY_HEADER: 'Gotham Light'
$FONT_FAMILY_MONO: Menlo, Monaco, Consolas, 'Courier New', monospace

$FONT_SIZE: 16px
$FONT_SIZE_MONO: 14px

$LINE_HEIGHT: 1.333em


// Colors
//
$COLOR_BACKGROUND: #fdfdfd
$COLOR_TEXT: #222
$COLOR_TEXT_ASIDE: #808080
$COLOR_LINK: #13a5ad

$COLOR_MENU_DIVIDER: #eee
$COLOR_MENU_DIVIDER_FOCUS: #000
$COLOR_MENU_LABEL: #808080

$COLOR_PANEL: #fff
$COLOR_PANEL_DIVIDER: #eee

$COLOR_COMMENT_TAG: #808080
$COLOR_COMMENT_TAG_TEXT: #fff

$COLOR_CODE_BACKGROUND: rgba(#000, 0.04)

$COLOR_TS: #13a5ad
$COLOR_TS_INTERFACE: #38cc73
$COLOR_TS_ENUM: #e74c3c
$COLOR_TS_CLASS: #099dcb
$COLOR_TS_PRIVATE: #808080

$TOOLBAR_COLOR: #fff
$TOOLBAR_TEXT_COLOR: #333
$TOOLBAR_HEIGHT: 40px
$TOOLBAR_PADDING: 25px 0