<div class="awesome-list">
    <h2>Tools</h2>
    {% for awesomestuff in site.data.awesome-sensenet %}
    <ul>
        {% if awesomestuff.category == 'tools' %}
        <li>
            <h4><a href="{{awesomestuff.href}}">{{awesomestuff.name}}</a></h4>
            <p>{{awesomestuff.description}}</p>
        </li>
        {% endif %}
    </ul>
    {% endfor %}
    <h2>Components</h2>
    {% for awesomestuff in site.data.awesome-sensenet %}
    <ul>
        {% if awesomestuff.category == 'components' %}
        <li>
            <h4><a href="{{awesomestuff.href}}">{{awesomestuff.name}}</a></h4>
            <p>{{awesomestuff.description}}</p>
        </li>
        {% endif %}
    </ul>
    {% endfor %}
    <h2>Documentation</h2>
    {% for awesomestuff in site.data.awesome-sensenet %}
    <ul>
        {% if awesomestuff.category == 'documentation' %}
        <li>
            <h4><a href="{{awesomestuff.href}}">{{awesomestuff.name}}</a></h4>
            <p>{{awesomestuff.description}}</p>
        </li>
        {% endif %}
    </ul>
    {% endfor %}
    <h2>Examples</h2>
    {% for awesomestuff in site.data.awesome-sensenet %}
    <ul>
        {% if awesomestuff.category == 'examples' %}
        <li>
            <h4><a href="{{awesomestuff.href}}">{{awesomestuff.name}}</a></h4>
            <p>{{awesomestuff.description}}</p>
        </li>
        {% endif %}
    </ul>
    {% endfor %}
</div>