<footer>
    <div class="container-narrow">
        <div class="footer-logo">
            <a class="logo" href="/">
                <img src="/img/sensenet-logo.png" alt="sensenet Community Site" />
            </a>
        </div>
        <nav>
            <section>
                <h5>Docs</h5>
                <ul class="docs-menu">
                    <li><a href="/docs/tutorials/getting-started-react">Getting started</a></li>
                    <li><a href="/docs/install-sn-from-nuget">Install sensenet</a></li>
                    <li><a href="/docs">Developer Docs</a></li>
                    <li><a href="/tutorials">Tutorials</a></li>
                    <li><a href="/docs/api">API References</a></li>
                </ul>
            </section>
            <section>
                <h5>Resources</h5>
                <ul class="resources-menu">
                    <li><a href="https://github.com/SenseNet/sensenet">sensenet source code</a></li>
                    <li><a href="https://github.com/SenseNet/sn-client">sensenet Client JS</a></li>
                    <li><a href="https://github.com/SenseNet/sn-client-dotnet">sensenet Client .Net</a></li>
                </ul>
            </section>
            <section>
                <h5>Community</h5>
                <ul class="community-menu">
                    <li><a href="https://github.com/SenseNet/awesome-sensenet">Awesome sensenet</a></li>
                    <li><a href="https://stackoverflow.com/questions/tagged/sensenet">Stackoverflow</a></li>
                    <li><a href="https://gitter.im/SenseNet/sensenet">Gitter</a></li>
                    <li><a href="https://www.facebook.com/sensenetcsp/">Facebook</a></li>
                    <li><a href="https://twitter.com/sensenet">Twitter</a></li>
                </ul>
            </section>
        </nav>
        <div class="copyright-and-stuff">
            <div class="stuff">
                <a class="github-button" href="https://github.com/SenseNet/sensenet" data-count-href="/SenseNet/sensenet/stargazers" data-count-api="/repos/SenseNet/sensenet#stargazers_count"
                    data-count-aria-label="# stargazers on GitHub" aria-label="Star SenseNet/sensenet on GitHub">Star</a>
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
            Tweet</a>
                <a href="https://twitter.com/sensenet" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @sensenet</a>
            </div>
            <div>Currently v7.7.5 |
                <a href="https://github.com/SenseNet/sensenet/issues">Issues</a> |
                <a href="https://community.sensenet.com/releases/">Releases</a> |
                <a href="{{ site.baseurl }}/privacy_policy" target="_blank">Privacy Policy</a>
            </div>
            <div class="copyright">Copyright © Sense/Net Inc.</div>
        </div>
        <div>
</footer>
