{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}
{% assign guides = site.guides | sort: 'index' %}
{% assign class = 'link' %}

<div class="guide-tree-menu">
    <ul>
        {% for node in guides %}
            {% assign node_url_parts = node.permalink | split: '/' %}
            {% assign node_url_parts_size = node_url_parts | size %}
            {% assign filename = node_url_parts | last %}
            {% if node_url_parts_size == 3 and filename != 'index.html' %}
              {% if node.permalink == page.url %}
                {% assign class = 'active' %}
              {% else %}
                {% assign class = 'link' %}
              {% endif %}
              <li><a href='{{node.url}}' class='{{class}} menuparent'>{{node.title}}</a>
                <ul class="submenu closed">
                  {% for guide in guides %}
                    {% assign guide_url_parts = guide.permalink | split: '/' %}
                    {% assign guide_url_parts_size = guide_url_parts | size %}
                    {% assign filename2 = guide_url_parts | last %}
                    {% if guide.permalink == page.url %}
                      {% assign class = 'active menuitem' %}
                    {% else %}
                      {% assign class = 'link' %}
                    {% endif %}
                    {% if guide_url_parts_size == 4 and guide_url_parts contains node_url_parts.last and filename2 != 'index.html' %}
                      <li><a class='{{class}}' href='{{guide.url}}'>{{guide.title}}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<script>
  const active = document.querySelectorAll('.active.menuitem')
  const activeLiParent = active[0] !== undefined ? active[0].parentElement : null
  const activeMenuParent = activeLiParent ? activeLiParent.parentElement: null
  if (activeMenuParent)
    activeMenuParent.classList.remove('closed')

  const submenuParents = document.querySelectorAll('.active.menuparent')
  const submenus = document.querySelectorAll('.submenu')
  const searchInput = document.getElementById('search-input')
  searchInput.addEventListener('keyup', function(){
    for(var i = 0; i < submenus.length; i++){
      if(!submenus[i].classList.contains('closed')){
        submenus[i].classList.add('closed')
      }
    }
    for(var j = 0; j < submenuParents.length; j++){
      if(submenuParents[j].classList.contains('active')){
        submenuParents[j].classList.remove('active')
      }
    }
  })
</script>