<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta content='#2f3241' name='theme-color' />
  
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
  {% endif %}
  {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}" />
    <meta property="og:image:url" content="{{ site.url }}{{ page.image }}" />
  {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}{{ site.logo }}" />
    <meta property="og:image:url" content="{{ site.url }}{{ site.logo }}" />
  {% endif %}

  <link rel='shortcut icon' href='{{ site.baseurl }}/img/favicon.ico' />
  <link rel='stylesheet' href='{{ site.baseurl }}/css/index.css'>

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W5NKTG7');
  </script>
  <!-- End Google Tag Manager -->

  <script src="/js/vendor/jquery-3.2.1.slim.min.js"></script>
  <script src="{{ site.baseurl }}/js/index.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {% seo %}
</head>