<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta content='#2f3241' name='theme-color' />
  <link rel='shortcut icon' href='{{ site.baseurl }}/img/favicon.ico'/>
  <link rel='stylesheet' href='{{ site.baseurl }}/css/index.css'>
  <title>{{ page.title }}</title>
  <script src="/js/vendor/jquery-3.2.1.slim.min.js"></script>
  <script src="{{ site.baseurl }}/js/index.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>