<nav class="site-header-nav">
    {% capture first_segment %}{{ page.url | remove_first: "/" | split: "/" | first }}{% endcapture %}
    <a class="site-header-nav-item {% if first_segment == 'docs' %}active{% endif %}" href="{{ site.baseurl }}/docs/">Docs</a>
    <a class="site-header-nav-item {% if first_segment == 'guide' %}active{% endif %}" href="{{ site.baseurl }}/guide/">Guide</a>
    <a class="site-header-nav-item {% if first_segment == 'tutorials' %}active{% endif %}" href="{{ site.baseurl }}/tutorials/">Tutorials</a>
    <a class="site-header-nav-item {% if first_segment == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/blog/">Blog</a>
    <a class="site-header-nav-item {% if first_segment == 'community' %}active{% endif %}" href="{{ site.baseurl }}/community/">Community</a>
    <a class="site-header-nav-item {% if first_segment == 'releases' %}active{% endif %}" href="{{ site.baseurl }}/releases/">Releases</a>
    <a class="site-header-nav-item {% if first_segment == 'contact' %}active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>
    <a class="site-header-nav-item" href="https://github.com/SenseNet/sensenet" title="Github Repository"><i class="fa fa-github" aria-hidden="true"></i></a>
</nav>