<nav class="site-header-nav">
    {% capture first_segment %}{{ page.url | remove_first: "/" | split: "/" | first }}{% endcapture %}
    <a class="site-header-nav-item {% if first_segment == 'docs' %}active{% endif %}" href="https://docs.sensenet.com">Docs</a>
    <a class="site-header-nav-item {% if first_segment == 'tutorials' %}active{% endif %}" href="{{ site.baseurl }}/tutorials/">Tutorials</a>
    <a class="site-header-nav-item {% if first_segment == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/blog/">Blog</a>
    <a class="site-header-nav-item {% if first_segment == 'community' %}active{% endif %}" href="{{ site.baseurl }}/community/">Community</a>
    <span onclick="handleUpdateClick()" id="updateMenu" class="sub-menu-parent site-header-nav-item {% if first_segment == 'updates' %}active{% endif %}">Updates
        <ul id="ddMenu" class="hidden sub-menu">
            <li class="submenu-item"><a href="{{ site.baseurl }}/releases/">Backend Updates</a></li>
            <li class="submenu-item"><a href="{{ site.baseurl }}/updates/">Frontend Updates</a></li>
        </ul>
    </span>
    <a class="site-header-nav-item {% if first_segment == 'contact' %}active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>
    <a class="site-header-nav-item" href="https://github.com/SenseNet/sensenet" title="GitHub Repository"><i class="fa fa-github"
            aria-hidden="true"></i></a>
</nav>