@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot'); 
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), 
       url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); 
}

body {
    color: $main-color;
    font-family: $font-stack;
}

.fa {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}