@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot'); 
  src: url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('/fonts/fontawesome-webfont.woff') format('woff'),
       url('/fonts/fontawesome-webfont.ttf')  format('truetype'), 
       url('/fonts/fontawesome-webfont.svg#svgFontName') format('svg'); 
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('/fonts/raleway-medium.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway-medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/raleway-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('/fonts/raleway-bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway-bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/raleway-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway Extrabold';
    src: url('/fonts/raleway-extrabold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway-extrabold.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/raleway-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway-extrabold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('/fonts/raleway-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/raleway-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-medium.eot'); /* IE9 Compat Modes */
    src: url('/fonts/gotham-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/gotham-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/gotham-medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/gotham-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/gotham-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham Light';
    src: url('/fonts/gotham-light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/gotham-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/gotham-light.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/gotham-light.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/gotham-light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/gotham-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    color: $main-color;
    font-family: $font-stack;
}

.fa {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}

.container, .container-narrow {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 980px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.container-narrow {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gotham';
    font-weight: normal;
}

@media (min-width: 544px)
{
.container {
    max-width: 576px;
}}

@media (min-width: 768px)
{
.container {
    max-width: 800px;
}}

@media (min-width: 992px)
{
.container {
    max-width: 980px;
}}

@media (min-width: 1300px)
{
.container {
    max-width: 1260px;
}}