.awesome-list ul, .contributors ul {
    padding: 0;
}

.awesome-list li, .contributors li {
    list-style-type: none;
}

.awesome-list li h4 {
    margin-bottom: 10px;
}

.awesome-list li h4 a {
    color: #666;
    text-decoration: none;
}

.awesome-list li h4 a:hover,
.contributors li a:hover {
    text-decoration: underline;
}

.contributors li {
    width: 135px;
    margin: 0;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.contributors li a {
    display: block;
}

.contributors li a img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.contributors li a {
    color: #13a5ad;
    text-decoration: none;
}

@media (max-width: 800px)
{ 
    .contributors ul {
        text-align: center  !important;
    }   
}