.contact li {
    list-style-type: none;
}

.contact h2 i {
    margin-right: 10px;
}

.contact p {
    margin: 0;
    line-height: 1.5;
}

.contact a {
    color: #13a5ad;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

@media (max-width: 800px)
{ 
    .contact ul {
        padding: 0 10px  !important;
    }   
}