.docs-breadcrumbs, .docs-breadcrumbs a {
color: #fff;
}

.docs h1, .docs h1 a {
    text-decoration: none;
    color: #13a5ad;
    font-size: 55px;
    line-height: 60px;
    text-transform: none;
    font-family: "Gotham Light";
    margin-bottom: 5px;
    text-align: left;
    margin: 30px 0;
}

.docs p {
    margin: 0 0 1em;
    line-height: 2;
    text-align: justify;
}

.docs p li {
    margin-bottom: 0.5em;
}

.docs p a {
    color: #13a5ad;
    text-decoration: none;
}

.docs p a:hover {
    text-decoration: underline;
}

.docs h2 {
    font-size: 35px;
    color: #444;
}

.docs h3, h4 {
    font-family: "Gotham";
}

.docs .post-contact {
    background: #f9f9f9;
    border: solid 1px #dddddd;
    padding: 10px;
    margin: 30px 0;
}

.docs .post-contact p{
    margin: 0;
    font-size: 14px;
    line-height: 2;
}

.docs-tags {
    margin: 20px 0 0;
    padding: 0;
}

.docs-tags li {
    list-style-type: none;
    display: inline-block;
    background: rgba(9, 157, 203,0.15);
    padding: .2rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    border-radius: 4px;
    color: #13a5ad;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    line-height: 1.5;
}

.docs-tags li a {
    color: #13a5ad;
    text-decoration: none;
}

.docs-tags li i::before {
    padding-right: .5em;
}

.highlighter-rouge pre {
    padding: 12px;
    overflow: auto;
    font-size: 16px;
    line-height: 1.45;
}

.highlight {
    margin: 0 0 12px;
    border-radius: 4px;
    background-color: #2d2d2d;
}

.docs p img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}

.docs p img+em {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.docs p code+em {
    display: block;
}

.docs p em+br {
    display: none;
}

.docs p br+code {
    display: inline-block;
}

.docs-contact {
    background: #f9f9f9;
    border: solid 1px #dddddd;
    padding: 10px;
    margin: 20px 0;
}

.docs-contact p{
    margin: 0;
    font-size: 14px;
    line-height: 2;
}

.documentation h2,
.documentation h2 a {
    text-decoration: none;
    font-size: 35px;
    color: #444;
    font-family: "Gotham Light";
    font-weight: normal;
    margin: 30px 0 20px;
}

.documentation.tutorials h2,
.documentation.tutorials h2 a {
    font-size: 32px;
}

.documentation.tutorials h2 {
    border-bottom: solid 1px #d9eff1;
}

.documentation h3 {
    margin-top: 0;
}

.docs h5 {
    font-weight: bold;
    font-size: 16px;
}

.documentation li {
    list-style-type: none;
}

.documentation .docs-list {
    margin: 0;
    padding: 0;
}

.documentation .docs-list a {
    text-decoration: none;
    color: #13a5ad;
    font-family: "Raleway Medium";
    font-size: 15px;
    line-height: 30px;
}

.documentation .docs-list a:hover {
    text-decoration: underline;
}

blockquote {
    padding: 0 1em;
    color: #13a5ad;
    background: rgba(9,157,203,0.15);
    border-left: 0.25em solid #13a5ad;
    font-size: 90%;
    margin: 10px 0;
}

.language-diff .highlight {
    margin: 10px 0;
}

.docs th {
    padding: 5px;
}

.docs li {
    line-height: 25px;
    margin-bottom: 10px;
}

.docs li a {
    color: #13a5ad;
    text-decoration: none;
}

.docs li a:hover {
    text-decoration: underline;
}

.related-docs {
    margin-bottom: 40px;
}

.related-docs, .related-docs a {
    color: #13a5ad;
    text-decoration: none;
    font-family: $font-raleway-medium;
}

.related-docs h3 {
    color: #666;
}

.docs table {
    border-collapse: collapse;
    margin: 0 auto;
}

.docs table, .docs th, .docs td {
    border: solid 1px #eee;
}

.docs table td {
    padding: 5px;
}

.docs img {
    max-width: 100%;
    width: auto;
}

.tags h1 {
    font-size: 45px;
}

.taglist-container {
    max-width: 980px;
    margin: 40px auto;
}

.taglist-container li {
    list-style-type: none;
}

.taglist-container li a {
        text-decoration: none;
    color: #13a5ad;
    font-family: "Raleway Medium";
    font-size: 15px;
    line-height: 30px;
}

.taglist-container li a:hover {
    text-decoration: underline;
}

@media (max-width: 800px)
{ 
    .documentation .col-ms-12 {
        text-align: center  !important;
    }   
}