footer {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 50px;
    position: relative;
    margin-top: 50px;
}

footer .footer-logo {
    position: absolute;
    left: 50%;
    top: -32px;
    margin-left: -38px;
}

footer nav section {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer nav section h5 {
    font-family: "Raleway Bold";
    font-size: 16px;
    margin-bottom: 5px;
}

footer nav section ul {
    margin: 0;
    padding: 0;
}

footer nav li {
    list-style-type: none;
    font-size: 14px;
    line-height: 2;
    font-family: "Raleway Medium";
}

footer nav li a {
    text-decoration: none;
    color: #666;
}

footer nav li a:hover {
    color: #13a5ad;
}

footer .copyright-and-stuff {
    text-align: center;
    margin-top: 20px;
}

footer .copyright-and-stuff > div {
    margin-bottom: 10px;
    font-size: 12px;
}

footer .copyright-and-stuff > div a {
    color: #13a5ad;
    text-decoration: none;
}
