.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}

.site-header .container .logo {
    float: left;
    vertical-align: middle;
    text-decoration: none;
}

.site-header .container .logo img {
    width: 40px;
    vertical-align: middle;
}

.site-header .container .logo span {
    text-decoration: none;
    color: #666;
    font-family: 'Raleway Bold';
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.site-header .container .right {
    float: right;
    vertical-align: middle;
}

.site-header .container .right > * {
    display: inline-block;
    vertical-align: middle;
}

.site-header-nav {
    margin-top: 4px;
}

@media (max-width: 800px)
{
    .site-header .container .logo {
        float: none;
        margin: 0 auto;
    }

    .site-header .right {
        float: none;
    }

    .site-header .container nav a {
        display: inline-block;
    }

    .home h1 {
        font-size: 45px;
    }

    .targets {
        margin: 50px 0;
    }

    .targets li {
        width: 100%;
        margin-bottom: 20px;
    }

    .components {
        margin-bottom: 0px;
    }

    .components li {
        width: 49%;
        margin-bottom: 40px;
    }

    .install li.half {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 0;
    }

    footer .footer-logo {
        margin-left: -28px;
    }

    footer nav section {
        width: 100%;
    }

    .copyright-and-stuff .stuff > * {
        display: block !important;
        margin-bottom: 10px !important;
    }
}