.site-header {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.site-header .container .logo {
    float: left;
    vertical-align: middle;
}

.site-header .container .right {
    float: right;
    vertical-align: middle;
}

.site-header .container .right > * {
    display: inline-block;
    vertical-align: middle;
}