.home h1 {
    color: #13a5ad;
    font-size: 55px;
    margin-bottom: 20px;
    font-family: "Gotham";
    line-height: 60px;
}

.home h2 {
    color: #666; 
    text-align: center;
    margin-bottom: 50px;
}

.home .container-narrow {
    @media screen and (max-width: 1100px) and (min-width: 800px) {
        margin-right: auto;
        margin-left: auto;
    }
}

.home .intro {
    text-align: center;
}

.home .intro h2 {
    font-size: 35px;
    margin: 0;
    opacity: .8;
}

.home ul {
    margin: 0;
    padding: 0;
}

.home li {
    list-style-type: none;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.targets {
    margin: 100px 0 80px;
}

.targets li {
    width: 32%;
    text-align: center;
}

.targets li h3, .targets li p {
    margin: 10px 10px 20px;
}

.targets li .icon {
    font-size: 60px;
    color: #0b6977;
    margin-bottom: 40px;
}


.targets li h3 {
    margin: 10px 10px 20px;
}

.targets li p {
    line-height: 25px;
    margin: 0px 20px 20px;
    font-size: 14px;
    text-align: justify;
}

.components {
    margin-bottom: 100px;
}

.components ul {
    margin-bottom: 80px;    
    text-align: center;
}

.components li {
    width: 24%;
    text-align: center;
}

.components span {
    display: block;
}

.components a {
    color: #fff;
    text-decoration: none;
}

.components .icon {
    font-size: 60px;
    margin-bottom: 20px;
    color: #13a5ad;
}

.components span:last-of-type {
    color: #666;
    font-family: "Gotham Light";
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    padding: 0 15px;
}

.install {
    margin-bottom: 100px;
}

.install li {
    text-align: center;
}

.install a {
    color: #666;
    text-decoration: none;
}
.install li.half {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-top: 60px;
    position: relative;
}

.install li.half:nth-of-type(1), .install li.half:nth-of-type(2){
    margin-top: 0;
}

.install li.half.full {
    margin: 60px auto 0;
    display: block;
}

.install li.half h3,
.install li.half p {
    margin: 20px;
}

.install li.half p {
    line-height: 25px;
    text-align: justify;
}

.install li.half h3 {
    font-size: 25px;
    font-family: "Raleway medium";
}

.install a {
    color: #13a5ad;
    text-decoration: none;
    font-family: "Raleway Medium";
}

.install img {
    max-width: 40px;
    max-height: 40px;
}

.install .fa, .install img {
    display: block;
    margin: 0 auto 20px;
}

.install sub {
    margin-top: -20px;
    display: block;    
    position: absolute;
    top: 75px;
    left: 155px;
}

.install .icon {
    font-size: 60px;
    margin: 50px 0;
    color: #0b6977;
}

.more-api, .ready-to-create {
    text-align: center;
    line-height: 25px;
    margin-bottom: 100px;
}

.more-api a, .ready-to-create a {
    color: #13a5ad;
    font-family: "Raleway Bold";
    text-decoration: none;
}

.more-api h4, .ready-to-create h4 {
    font-size: 20px;
}

.examples {
    margin-bottom: 100px;
}

.examples p {
    text-align: center;
    line-height: 25px;
}

.install a::before,
.install a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.install a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.install a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.install a:hover::before,
.install a:hover::after,
.install a:focus::before,
.install a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
