.fa-github:before {
    content: "\f09b";
}

.fa-stackoverflow:before {
    content: "\f16c";
}

.fa-gitter:before {
    content: url(/img/gitter.svg);
}

.fa-slack:before {
    content: "\f198";
}

.fa-facebook:before {
    content: "\f230";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-enterprise:before {
    content: "\f0c0";
}

.fa-calendar:before {
    content: "\f073";
}

.fa-angle-right:before {
    content: "\f054";
}

.fa-tag:before {
    content: "\f02b";
}