.site-header .container nav {
    display: table;
    margin-top: 10px;
}

.site-header .container nav a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #777;
    font-family: "Raleway Medium";
    font-size: 16px;
    padding: 0 10px;
}

.site-header .container nav a:hover,
.site-header .container nav a.active {
    color: #13a5ad;
}

.site-header .container nav a:last-of-type {
    font-size: 35px;
}

.site-header .container nav span {
    color: #777;
    font-family: "Raleway Medium";
    font-size: 16px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent { 
    position: relative; 
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    cursor: pointer;
}

.sub-menu { 
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease;
    background: #efefef;
    font-size: 16px; 
    margin: 0;
    padding: 5px 0;
  }

  .sub-menu-parent:focus, .sub-menu-parent:hover { 
    background: #efefef;
  }
  
  .sub-menu-parent:focus .sub-menu,
  .sub-menu-parent:focus-within .sub-menu,
  .sub-menu-parent:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; 
    background: #efefef;
  }

  .submenu-item {
      list-style-type: none;
      margin: 0;
      padding: 5px;
      font-size: 16px;
      text-align: left;

  }

  .submenu-item a {
      text-decoration: none;
    font-size: 14px !important;
    display: block !important;
    white-space: nowrap;
  }