.blog-post .container-narrow, .docs .container-narrow {
    position: relative;
}
.blog-post aside, .docs aside {
    vertical-align: top;
    position: absolute;
    
    margin-top: 40px;
    @media screen and (max-width: 1300px) {
        left: -200px;
        width: 200px;
    }
    @media screen and (min-width: 1300px) {
        left: -300px;
        width: 275px;
    }
    @media screen and (max-width: 800px) {
        display: none;
    }
}
.blog-post aside h3, .docs aside h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Gotham";
    margin-top: 0;
}
.blog-post aside ul, .docs aside ul {
    margin: 0;
    padding: 0;
}
.blog-post aside li, .docs aside li {
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;    
    line-height: 20px; 
}
.blog-post aside a, .docs aside a {
    color: #13a5ad;
    text-decoration: none;
    font-size: 14px;
}

.blog-post aside a:hover, .docs aside a:hover {
    text-decoration: underline;
}

.blog-post aside .all-posts a {
    color: #444;
}
.blog-post article {
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 800px;
}
.blog-post h1, .blog-post h1 a {
    text-decoration: none;
    color: #13a5ad;
    font-size: 55px;
    line-height: 60px;
    text-transform: none;
    font-family: "Gotham Light";
    margin-bottom: 5px;
    text-align: left;
    margin-top: 60px;
}
.blog-post hr:first-of-type {
    display: none;
}
.blog-post p, .blog-post li {
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
}
.blog-post p img {
    max-width: 100%;
    width: auto;
}
.blog-post p a {
    color: #13a5ad;
}
.blog-post h2 {
    font-size: 35px;
    color: #444;
}

.blog-post .post-contact {
    background: #f9f9f9;
    border: solid 1px #dddddd;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-post .post-contact p{
    margin: 0;
    font-size: 14px;
    line-height: 2;
}

.blog-post .author-link {
    margin-left: 10px;
}

.blog-post .author-link label:hover {
    text-decoration: underline;
}

.blog-post  li a {
    color: #13a5ad;
}