.subtron form {
    margin: 0 auto 40px;
    width: 300px;
    position: relative;
}

.subtron form input[type=text] {
    width: 190px;
}

.subtron #result-search-box {
    border: 0;
    font-size: 16px;
    font-family: "Raleway Regular";
    line-height: 25px;
    padding: 10px;
}

.subtron form input[type=submit] {
    border-radius: 5px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    color: #fff;
    border: 2px solid #fff;
    padding: 14px 15px;
    font-family: 'Raleway Medium';
    background-color: transparent;
    margin-left: 10px;
    cursor: pointer;
}

.search-results li {
    list-style-type: none;
}

.search-results li a {
    text-decoration: none;
    color: #13a5ad;
}

.search-results li h3 {
    margin-bottom: 0px;
}

.search-results li p {
    margin-top: 5px;
    line-height: 25px;
}

.search-results li h1 {
    display: none;
}

.quicksearch {
    margin-top: 10px;
}

.quicksearch form input[type=text] {
    font-family: "Raleway Regular";
    padding: 5px 10px;
    vertical-align: middle;
}

.quicksearch form input[type=text]::-moz-placeholder,
.quicksearch form input[type=text]::-webkit-input-placeholder {
    color: #eee;
}

.quicksearch form input[type=submit] {
    font-family: $font-icons;
    background: #13a5ad;
    border: 0px;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    vertical-align: middle;
}