@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot'); 
  src: url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('/fonts/fontawesome-webfont.woff') format('woff'),
       url('/fonts/fontawesome-webfont.ttf')  format('truetype'), 
       url('/fonts/fontawesome-webfont.svg#svgFontName') format('svg'); 
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('/fonts/raleway-medium.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway-medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/raleway-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('/fonts/raleway-bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway-bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/raleway-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway Extrabold';
    src: url('/fonts/raleway-extrabold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway-extrabold.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/raleway-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway-extrabold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('/fonts/raleway-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/raleway-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-medium.eot'); /* IE9 Compat Modes */
    src: url('/fonts/gotham-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/gotham-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/gotham-medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/gotham-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/gotham-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham Light';
    src: url('/fonts/gotham-light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/gotham-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/gotham-light.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/gotham-light.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/gotham-light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/gotham-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'icons';
    src: url('/fonts/icons.eot'); /* IE9 Compat Modes */
    src: url('/fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/icons.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/icons.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/icons.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/icons.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$font-gotham: 'Gotham';
$font-gotham-light: 'Gotham Light';
$font-raleway-medium: 'Raleway Medium';
$font-raleway-regular: 'Raleway Regular';
$font-raleway-bold: 'Raleway Bold';
$font-raleway-extrabold: 'Raleway Extrabold';
$font-fontawesome: 'FontAwesome';
$font-icons: 'icons';
$main-color: hsl(0, 0%, 40%);
$h1-color: #fff;
$h2-color: #13a5ad;
$h1-size: 65px;
$h2-size: 45px;