---
layout: default 
---

<div class='subtron text-left'>
  <div class='container-narrow'>
   
    <div class="heading"><span class="mr-3 mr-lg-4">
      {% if page.category == 'Tutorials' %}
      Tutorials
      {% endif %}
      {% if page.category != 'Tutorials' %}
      Documentation
      {% endif %}
      </span><span class="docs-version">{{ site.data.releases[0].version }}</span></div>

    <h4 class="docs-breadcrumbs">
      <a href='https://docs.sensenet.com'>Docs</a> {% if page.category != 'ignore' %}
      <span class="docs-breadcrumbs-divider">/</span>
      <a href='{{ site.baseurl }}/docs/{{ page.category | downcase }}/'>{{ page.category }}</a> {% endif %} {% if page.title
      != 'README' %}
      <span class="docs-breadcrumbs-divider">/</span> {% if page.breadcrumb %} {{ page.breadcrumb }} {% else %} {{ page.title
      }} {% endif %}
      <!-- <a class="ml-4" href='{{ page.source_url }}'><span class="octicon octicon-pencil"></span> Edit source</a> -->
      {% endif %}
    </h4>
  </div>
</div>

{% if page.category == 'API' %}
<section class='page-section doc strong-headers'>
  <div class="container-narrow position-relative">
    <ul>
      <li>{{ site.data.processes[page.title] }}</li>
    </ul>
  </div>
</section>
{% endif %}

<section class='page-section docs strong-headers'>
  <div class='container-narrow'>
    <aside class="blog-menu-side">
      {% include relateddocs.html %}
    </aside>
    <ul class="docs-tags">
      {% for tag in page.tags %}
      <li class="docs-tag"><i class="fa fa-tag"></i><a href="/tags#{{ tag | url_encode }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>

    {{ content }} {% if page.category != 'ignore' %}

    {% include relateddocs.html %}

    <div class="docs-contact">
      <p>Is something missing? See something that needs fixing? Propose a change <a target="_blank" href='{{ page.source_url }}'><strong>here</strong></a>.</p>
    </div>
    {% endif %}

    

  </div>
</section>
