---
  layout: default 
  comments: true
  redirect_to: https://www.sensenet.com/frontend-updates
---


{% assign updates = site.updates | sort: 'date' | reverse %}

<section class='page-section blog-post strong-headers'>
  <div class='container-narrow'>
    <aside class="blog-menu-side">
      <h3>Updates</h3>
      <nav class="blog-menu">
        <ul>
          {% for update in updates %}
          <li><a href="{{update.url}}">{{update.title}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
    <article>
      <h1>{{ page.title }}</h1>

      <div class="who-when mt-1 mb-4">
        <span class="fa fa-calendar"></span>
        <time>{{ page.date | date: '%B %d, %Y' }}</time>
        {% if page.author[1] %}
        {% for author in page.author %}
          <a href="https://github.com/{{ author }}" class="author-link"><img src="https://github.com/{{ author }}.png?size=36" alt="{{ author }}" class="avatar mr-2">{{ author }}</a>
        {% endfor %}
      {% else %}
        <a href="https://github.com/{{ page.author }}" class="author-link"><img src="https://github.com/{{ page.author }}.png?size=36" alt="{{ page.author }}" class="avatar mr-2">{{ page.author }}</a>              
      {% endif %}
      </div>

      {{ content }}
  </div>
  </article>
</section>
